/* Color Scheme and Font Theme for Quiz */
:root {
    --dark: #1E1E1E;
    --light: #D4D4D4;
    --accentBlue: #9CDCFE;
    --accentRed: #CE9178;
    --accentGreen: #B5CEA8;
    --accentYellow: #D7BA7D;
    --accentDGreen: #6A9955;
    --accentDBlue: #569CD6;
    font-family: 'Courier New', Courier, monospace;
}

/* Set background color to dark */
* {
    background-color: var(--dark);
}

h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bolder;
    color: var(--accentYellow);
    font-size: 50px;
}

h2 {
    display: flex;
    justify-content: center;
    color: var(--accentDGreen);
}

/* Styling for High Score Initial Input */
label {
    font-size: 30px;
    color: var(--accentDBlue);
}
  
input {
    height: 50px;
    width: 100%;
    padding: 5px 10px;
    margin: 10px 10px 30px;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid var(--accentYellow);
    border-radius: 10px;
    color: var(--accentBlue);
}

::placeholder {
    font-family: 'Courier New', Courier, monospace;
}

/* Button Styling */
.buttons {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: var(--light);
    color: var(--dark);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}

.buttons:hover {
    background-color: var(--accentRed);
}

#scoreButton {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: var(--dark);
    color: var(--accentGreen);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border-color: var(--light);
}

#scoreButton:hover {
    background-color: var(--accentGreen);
    color: var(--dark);
}

/* Initial Home Screen Template for Quiz */
#mainScreen {
    display: flex;
    height: 70vh;
    align-items: stretch;
}

/* Main Screen Template for Q&A with Timer */
#mainScreen2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

/* Game Over Screen Template to Display Score/Enter Initials */
#mainScreen3 {
    display: grid;
    grid-template-rows: 1fr 3fr 2fr 1fr;
    justify-content: center;
}

/* Quiz Q&A Styling */
.grid-question-answer {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

/* Timer Styling */
#countdown {
    display: flex;
    color: var(--accentGreen);
    font-size: 300px;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Question Styling */
#displayQuestion {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    color: var(--accentDBlue);
    margin: 5px 50px;
}

/* Answers Styling */
.displayAnswers {
    display: flex;
    justify-content: center;
    color: var(--accentBlue);
    margin: 20px auto;
    background-color: var(--dark);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border-color: var(--light);
    width: 360px;
}

.displayAnswers:hover {
    color: var(--dark);
    background-color: var(--light);
}

/* Styling for High Score Page */
#hsButtons {
    display: flex;
    justify-content: center;
    margin: 20px;
}

/* High Score Page Styling */
#score {
    display: flex;
    justify-content: center;
    color: var(--accentGreen);
    font-family: 'Courier New', Courier, monospace;
    font-size: 150px;
    font-weight: bolder;
    margin: 10px auto;
}

#highScoreMain {
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

/* High Score Table Styling */
#highScoreTable, tr, td, th {
    border: 1px solid var(--accentGreen);
    border-collapse: collapse;
    color: var(--accentDBlue);
    font-size: 20px;
    padding: 20px;
}

td {
    color: var(--accentBlue);
    text-align: center;
}