:root {
    --dark: #1E1E1E;
    --light: #D4D4D4;
    --accentBlue: #9CDCFE;
    --accentRed: #CE9178;
    --accentGreen: #B5CEA8;
    --accentYellow: #D7BA7D;
    --accentDGreen: #6A9955;
    --accentDBlue: #569CD6;
    font-family: 'Courier New', Courier, monospace;
}

* {
    background-color: var(--dark);
}

h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bolder;
    color: var(--accentYellow);
    font-size: 50px;
}

h2 {
    display: flex;
    justify-content: center;
    color: var(--accentDGreen);
}

label {
    font-size: 30px;
    color: var(--accentDBlue);
  }
  
input {
    height: 50px;
    width: 100%;
    padding: 5px 10px;
    margin: 10px 10px 30px;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid var(--accentYellow);
    border-radius: 10px;
    color: var(--accentBlue);
}

::placeholder {
    font-family: 'Courier New', Courier, monospace;

}

#startButton, #startAgain, #highScore, #clearScores {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: var(--light);
    color: var(--dark);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}

#startButton:hover, #startAgain:hover, #highScore:hover {
    background-color: var(--accentRed);
}

.grid-question-answer {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

#mainScreen {
    display: flex;
    height: 70vh;
    align-items: stretch;
}

#mainScreen2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#mainScreen3 {
    display: grid;
    grid-template-rows: 1fr 3fr 2fr 1fr;
    justify-content: center;
}

#countdown {
    display: flex;
    color: var(--accentGreen);
    font-size: 300px;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#displayQuestion {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    color: var(--accentDBlue);
    margin: 5px 50px;
}

.displayAnswers {
    display: flex;
    justify-content: center;
    color: var(--accentBlue);
    margin: 20px auto;
    background-color: var(--dark);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border-color: var(--light);
    width: 360px;
}

.displayAnswers:hover {
    color: var(--dark);
    background-color: var(--light);
}

.displayAnswers:active {
    color: var(--dark);
    background-color: var(--accentYellow);
    border-color: var(--accentYellow);
}

#HSLink {
    display: flex;
    justify-content: center;
    color: var(--accentRed);
    margin: 20px;
}

#score {
    display: flex;
    justify-content: center;
    color: var(--accentGreen);
    font-family: 'Courier New', Courier, monospace;
    font-size: 150px;
    font-weight: bolder;
    margin: 10px auto;
}

#highScoreMain {
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

#highScoreTable, tr {
    border-color: var(--accentGreen);
    border-collapse: collapse;
    color: var(--accentDBlue);
}

td {
    color: var(--accentBlue);
}