:root {
    --dark: #1E1E1E;
    --light: #D4D4D4;
    --accentBlue: #9CDCFE;
    --accentRed: #CE9178;
    --accentGreen: #B5CEA8;
    --accentYellow: #D7BA7D;
    font-family: 'Courier New', Courier, monospace;
}

* {
    background-color: var(--dark);
}

h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bolder;
    color: var(--accentYellow);
    font-size: 50px;
}

h2 {
    display: flex;
    justify-content: center;
    color: var(--accentBlue);
}

h3 {
    display: flex;
    justify-content: center;
    color: var(--accentGreen);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.grid-question-answer {
    display: grid;
    grid-template-rows: 1fr 1fr;
}